#  Writing Your First Program

In [1]:
print("WelCome to Data Visualization with Python")

WelCome to Data Visualization with Python

# Python Variables and Data	Types

In [3]:
# A String Variable
first_name = "joseph"
print(type(first_name))

# A Integer Variable
age = 20
print(type(age))

# A Folating Point Variable
weight = 70.35
print(type(weight))

# A boleana variable
married = False
print(type(married))

# A list 
cars = ["Honda" , "Toyota" , "Suzuki"]
print(type(cars))

# Tupels
days = ('sunday','Monday','Thesday','Wednesday','Thursday','Friday','Satarday')
print(type(days))

# Dictionarys
days = {1:'sunday' , 2:'Monday' , 3:'Thesday' , 4:'Wednesday' ,5:'Thursday' , 6:'Friday' , 7:'Satarday'}
print(type(days))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

# Arithmatic Operation

In [4]:
x = 20
y = 10
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)

30
10
200
2.0
0
10240000000000

# Logical Operatioan

In [5]:
x = True
y = False

print(x and y)
print(x or y)
print(not(x and y))

False
True
True

# Comparison Opearator

In [ ]:
x = 20
y = 35

print(x == y)
print(x != y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

# Assignment Operators

In [2]:
x=20,y=10
R=x+y
print(R)


x=20,y=10
x+=y
print(x)

x=20,y=10
x-=y
print(x)

x=20,y=10
x*=y
print(x)

x=20,y=10
x/=y
print(x)

x=20,y=10
x%=y
print(x)

x=20,y=10
x**=y
print(x)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2633354556.py, line 1)

# Membership Operators

In [5]:
days = ('sunday','Monday','Thesday','Wednesday','Thursday','Friday','Satarday')
print('sunday' in days)
print('Xunday' not in days)

True
True

# Conditional Statment

# IF Statment

In [6]:
if 10>5:
    print("Ten greater than 10")

Ten greater than 10

In [7]:
if 5>10:
    print("5 greater than 10")
else:
    print("10 greater than 5")

10 greater than 5

In [8]:
if 5>10:
    print("5 is greater than 10")
elif 8<4:
    print("8 is smaller than 4")
else:
    print("5 is not greater than 10 and 8 iss not smaller than 4")

5 is not greater than 10 and 8 iss not smaller than 4

# Iteration Statments

# For	Loop

In [1]:
items = range(5)
for item in items:
    print(item)

0
1
2
3
4

# While Loop

In [2]:
c=0
while c<10:
    print(c)
    c = c+1

0
1
2
3
4
5
6
7
8
9