#  Writing Your First Program

In [1]:
print("WelCome to Data Visualization with Python")

WelCome to Data Visualization with Python

# Python Variables and Data	Types

In [3]:
# A String Variable
first_name = "joseph"
print(type(first_name))

# A Integer Variable
age = 20
print(type(age))

# A Folating Point Variable
weight = 70.35
print(type(weight))

# A boleana variable
married = False
print(type(married))

# A list 
cars = ["Honda" , "Toyota" , "Suzuki"]
print(type(cars))

# Tupels
days = ('sunday','Monday','Thesday','Wednesday','Thursday','Friday','Satarday')
print(type(days))

# Dictionarys
days = {1:'sunday' , 2:'Monday' , 3:'Thesday' , 4:'Wednesday' ,5:'Thursday' , 6:'Friday' , 7:'Satarday'}
print(type(days))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

# Arithmatic Operation

In [4]:
x = 20
y = 10
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)

30
10
200
2.0
0
10240000000000

# Logical Operatioan

In [5]:
x = True
y = False

print(x and y)
print(x or y)
print(not(x and y))

False
True
True

# Comparison Opearator

In [ ]:
x = 20
y = 35

print(x == y)
print(x != y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)